# Byte-compiled / cache files
_pycache_/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
.env/
.env.*

# Data files (you can exclude big raw data)
data/
*.csv
*.xlsx
*.xls

# Output or temporary files
outputs/
*.log
*.tmp

# OS / Editor specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
